*.pyc
.idea/.gitignore
.idea/misc.xml
.idea/modules.xml
.idea/Structure1.iml
.idea/vcs.xml
.idea/inspectionProfiles/profiles_settings.xml
build/lib/email/__init__.py
build/lib/email/constans.py
build/lib/email/email.py
build/lib/email/helper.py
build/lib/main/__init__.py
build/lib/main/run.py
build/lib/prime/__init__.py
build/lib/prime/constans.py
build/lib/prime/helper.py
build/lib/prime/prime.py
main.egg-info/dependency_links.txt
main.egg-info/entry_points.txt
main.egg-info/PKG-INFO
main.egg-info/SOURCES.txt
main.egg-info/top_level.txt
